@using cartola.entity
@model List<Time>
@{
    ViewBag.Title = "CartolaBz:Times";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    function ExibirTime(TimeSlug) {
        $("." + TimeSlug).css({ 'display': ($("." + TimeSlug).css('display') == '-webkit-inline-box' ? 'none' : '-webkit-inline-box') });
    }

    function SombraMouseOut(slug){
       $("#" + slug).css({ 'box-shadow': '' });
    }

    function SombraMouseOver(slug) {
        $("#" + slug).css({ 'box-shadow': '2px 2px lightgrey' });
    }
    

    $(document).ready(function () {$("#AutoRefreshChk").prop("checked", ($.cookie("autorefresh")=="true"?true:false)).change();});

    function getCookie() {
        var list = document.cookie.split(";");
        return list[0];

    }

</script>

@using (Html.BeginForm("Listar", "Times", FormMethod.Get, new { @class = "form-inline" }))
{
    <div class="form-group form-group-position">
        @Html.TextBox("slug", null, new { data_bind = "value: Name", @id = "inputlg", @class = "form-control", @type = "text", @placeholder = "Buscar Time" })

        <input type="submit" class="btn btn-default" value="Add" />
    </div>
}
<br />
    <div class="well well-sm well_position">
    <ul class="list-inline text-right">
        <li id="autoli">
            <span></span>
            @*<input type="button" class="btn btn-danger" value="Auto refresh" id="AutoRefreshChk" onclick="AutoRefresh('AutoRefreshChk')">*@
            <input type="checkbox" data-toggle="toggle" id="AutoRefreshChk" data-onstyle="success" data-offstyle="danger" data-on="Auto Refresh" data-off="Sem Refresh" />
        </li>
        <li>
            <input class="btn btn-success" type="button" onclick="window.location.reload()" value="Atualizar" />
        </li>
    </ul>
</div>

<span id="refreshtime"></span>


<ul id="atletas">
    @{
        if (Model != null)
        {
            List<Time> Times = Model.FindAll(x=> x.ListaAtletas != null);
            foreach (Time oTime in Times)
            {
                <li class="time">
                <ul class="timedata">
                    <div class="timeColor" style="background-color:#@oTime.oTimeInfo.CorPrimariaEstampaEscudo;"></div>
                    <div class="timeColor" style="background-color:#@oTime.oTimeInfo.CorBordaEscudo;"></div>
                    <div>
                        <img src="@oTime.oTimeInfo.URLEscudoPNG" class="foto_40x40_escudo" />
                        <p><b>@oTime.oTimeInfo.Nome</b></p>
                        <p>@oTime.oTimeInfo.NomeCartola</p>
                        <img class="btnlistar" src="//cartola-bz.umbler.net/Imagem/drag_list_down1600.png" onclick="ExibirTime('@oTime.slug')" alt="Listar @oTime.oTimeInfo.Nome" id="btnlistar_@oTime.slug" onmouseover="SombraMouseOver('btnlistar_@oTime.slug')" onmouseout="SombraMouseOut('btnlistar_@oTime.slug')">
                        <span class="@(oTime.Pontos > 0 ? "green" : "red") nota_time">@oTime.Pontos.ToString("0.00")</span>
                    </div>
                </ul>
                <ul class=@oTime.slug style="display:none;display;margin-left:-45px;padding-bottom:10px;">
                    @foreach (Atleta oAtleta in oTime.ListaAtletas.OrderBy(x => x.IdPosicao).ThenBy(x => x.Nome))
                    {

                        <li class="jogador">
                            <img class="foto_60x60 img-thumbnail" src=@oAtleta.Foto.Replace("_FORMATO","_140x140") title="@oAtleta.Apelido" />
                                <span class="@(@oAtleta.oAtletaPontuado.Pontuacao != 0 ?(@oAtleta.oAtletaPontuado.Pontuacao > 0 ? "nota_green" : "nota_red"):"nota")">
                                    @oAtleta.oAtletaPontuado.Pontuacao.ToString("0.00")
                                </span>
                            <ul id="info">
                                <li>Nome:@oAtleta.Apelido</li>
                                <li>Preço:@oAtleta.Preco</li>
                                <li>Variação: <span class="@(@oAtleta.Variação>0?"green":"red")">@oAtleta.Variação</span></li>
                            </ul>
                            <ul class="scout">
                                <li>Cartao Amarelo:@oAtleta.Scout.CartaoAmarelo</li>
                                <li>Falta Cometida:@oAtleta.Scout.FaltaCometida</li>
                                <li>Finalização Defendida:@oAtleta.Scout.FinalizacaoDefendida</li>
                                <li>Finalizacao Fora:@oAtleta.Scout.FinalizacaoFora</li>
                                <li>Falta Sofrida:@oAtleta.Scout.FaltaSofrida</li>
                                <li>Finalizacao Trave:@oAtleta.Scout.FinalizacaoTrave</li>
                                <li>Gol:@oAtleta.Scout.Gol</li>
                                <li>Impedimento:@oAtleta.Scout.Impedimento</li>
                                <li>Passe Errado:@oAtleta.Scout.PasseErrado</li>
                                <li>Gol:@oAtleta.Scout.Gol</li>
                                <li>Roubada de Bola:@oAtleta.Scout.RoubadaBola</li>
                            </ul>
                        </li>

                    }
                </ul>

        </li>
            }
        }
}
</ul>
<script type="text/javascript" >
    $('#AutoRefreshChk').change(function () {
        //Colocando valor no cookie
        var now = new Date();
        now.setTime(now.getTime() + 1 * 3600 * 1000);
        document.cookie = "autorefresh=" + $("#AutoRefreshChk").prop("checked").toString() + ";expires=" + now.toUTCString() + ";";
        if ($("#AutoRefreshChk").prop("checked")) {
            setTimeout("location.reload(true);", 120000);
            console.log("refresh:5mins");
        }
    });

</script>
