@using cartola.entity
@model List<Time>
@{
    ViewBag.Title = "Times";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Times</h2>

@using (Html.BeginForm("Listar", "Times", FormMethod.Post))
{
    @Html.TextBoxFor(x=> x[0].slug)
    @Html.TextBoxFor(x => x[1].slug)
    <input type="submit" class="" value="Pesquisar" />
}

<ul id="atletas">
    @{
        if (Model != null)
        {
            foreach(Time oTime in @Model)
            {
                
                <style type="text/css">

                </style>
        <li class="time">
            <ul style="border-style:solid;border-color:#@oTime.oTimeInfo.CorBordaEscudo;background-color:#@oTime.oTimeInfo.CorFundoEscudo;">
                <div>
                    <img src="@oTime.oTimeInfo.URLEscudoPNG" class="foto_60x60" />
                    <p><b>@oTime.oTimeInfo.Nome</b></p>
                    <p>@oTime.oTimeInfo.NomeCartola</p>
                    <span style="float:right">
                        <h1>
                            @oTime.ListaAtletas.Sum(x => x.oAtletaPontuado.Pontuacao)
                        </h1>
                    </span>
                </div>
            </ul>
        <ul>
            @foreach (Atleta oAtleta in oTime.ListaAtletas.OrderBy(x => x.IdPosicao).ThenBy(x => x.Nome))
            {
                <li class="jogador">

                    <img class="foto_60x60" src=@oAtleta.Foto.Replace("_FORMATO","_140x140") />
                    @*<img id="img_icon_pm" src="~/Imagem/plus-minus-icon-27953.png" />*@
                    <ul id="info">
                        <li>Nome:@oAtleta.Apelido</li>
                        <li>Preço:@oAtleta.Preco</li>
                        <li>Pontos:<span class="@(@oAtleta.oAtletaPontuado.Pontuacao > 0 ? "green" : "red")">@oAtleta.oAtletaPontuado.Pontuacao</span></li>
                        <li>Variação: <span class="@(@oAtleta.Variação>0?"green":"red")">@oAtleta.Variação</span></li>
                    </ul>
                    <ul class="scout">
                        <li>Cartao Amarelo:@oAtleta.Scout.CartaoAmarelo</li>
                        <li>Falta Cometida:@oAtleta.Scout.FaltaCometida</li>
                        <li>Finalização Defendida:@oAtleta.Scout.FinalizacaoDefendida</li>
                        <li>Finalizacao Fora:@oAtleta.Scout.FinalizacaoFora</li>
                        <li>Falta Sofrida:@oAtleta.Scout.FaltaSofrida</li>
                        <li>Finalizacao Trave:@oAtleta.Scout.FinalizacaoTrave</li>
                        <li>Gol:@oAtleta.Scout.Gol</li>
                        <li>Impedimento:@oAtleta.Scout.Impedimento</li>
                        <li>Passe Errado:@oAtleta.Scout.PasseErrado</li>
                        <li>Gol:@oAtleta.Scout.Gol</li>
                        <li>Roubada de Bola:@oAtleta.Scout.RoubadaBola</li>
                    </ul>
                </li>

            }
        </ul>
    </li>
            }
        }
}
</ul>
