@using cartola.entity
@model List<Time>
@{
    ViewBag.Title = "CartolaBz:Times";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/clock.js"></script>
<script src="~/Scripts/times.script.js"></script>

@using (Html.BeginForm("Listar", "Times", FormMethod.Get, new { @class = "form-inline" }))
{
    <div class="form-group form-group-position">
        @Html.TextBox("slug", null, new { data_bind = "value: Name", @id = "inputlg", @class = "form-control", @type = "text", @placeholder = "Buscar Time" })

        <input type="submit" class="btn btn-default" value="Add" />
    </div>
}
<br />
    <div class="well well-sm well_position">
    <ul class="list-inline text-right">
        <li>
            <div class="progress progress-botton-0">
                <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" id="clock-progress" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:0%;">
                    <span id="time"></span>
                </div>
            </div>
        </li>
        <li id="autoli">
            <input type="checkbox" data-toggle="toggle" id="AutoRefreshChk" data-onstyle="success" data-offstyle="danger" data-on="Auto Refresh" data-off="Sem Refresh" />
        </li>
        <li>
            <input class="btn btn-success" type="button" onclick="window.location.reload()" value="Atualizar" />
        </li>
    </ul>
</div>

<span id="refreshtime"></span>


<ul id="atletas">
    @{
        if (Model != null)
        {
            List<Time> Times = Model.FindAll(x=> x.ListaAtletas != null && x.ListaAtletas.Count()>0);
            foreach (Time oTime in Times)
            {
                <li class="time">
                <ul class="timedata">
                    <div class="timeColor" style="background-color:#@oTime.oTimeInfo.CorPrimariaEstampaEscudo;"></div>
                    <div class="timeColor" style="background-color:#@oTime.oTimeInfo.CorBordaEscudo;"></div>
                    <div>
                        <img src="@oTime.oTimeInfo.URLEscudoPNG" class="foto_40x40_escudo" />
                        <p><b>@oTime.oTimeInfo.Nome</b></p>
                        <p>@oTime.oTimeInfo.NomeCartola</p>
                        <span class="@(oTime.Pontos > 0 ? "green" : "red") nota_time">@oTime.Pontos.ToString("0.00")</span>
                        <div>
                            <button type="button" id="excluir" class="btn btn-danger btn-sm time-exluir" onclick="location.href='@Url.Action("Excluir", "Times", new { slug = @oTime.slug })'" title="Excluir @oTime.slug" ><span class="glyphicon glyphicon-remove" /></button>
                            <button type="button" id="btn-listar" class="btn btn-secondary time-listar" onclick="ExibirTime(this,'@oTime.slug')" title="Exibir @oTime.slug"><span class="glyphicon glyphicon-chevron-down"></span></button>
                        </div>
                    </div>
                </ul>
                    <div class="block-jogadores @oTime.slug">
                        <ul class="time-jogadores">
                            @foreach (Atleta oAtleta in oTime.ListaAtletas.OrderBy(x => x.IdPosicao).ThenBy(x => x.Nome))
                            {
                                <li class="jogador">
                                    <ul class="jogador-detalhes  @(@oAtleta.oAtletaPontuado.Pontuacao != 0 ?(@oAtleta.oAtletaPontuado.Pontuacao > 0 ? "nota-green" : "nota-red"):"")">
                                        <li>
                                            <img class="foto_60x60 img-thumbnail" src=@oAtleta.Foto.Replace("_FORMATO","_140x140") title="@oAtleta.Apelido" />
                                        </li>
                                        <li class="nota">
                                            <span class="atleta-posicao">@oAtleta.IdPosicao</span>
                                            @oAtleta.oAtletaPontuado.Pontuacao.ToString("0.00")
                                        </li>
                                    </ul>
                                </li>
                            }
                        </ul>
                    </div>

        </li>
            }
        }
}
</ul>
<script type="text/javascript" >

    $('#AutoRefreshChk').change(function () {
        //Colocando valor no cookie
        var now = new Date();
        now.setTime(now.getTime() + 1 * 3600 * 1000);
        document.cookie = "autorefresh=" + $("#AutoRefreshChk").prop("checked").toString() + ";expires=" + now.toUTCString() + ";";
        if ($("#AutoRefreshChk").prop("checked")) {
            setTimeout("location.reload(true);", 300000);
            console.log("refresh:5mins");
            SetCountDown(300, '#time', '#clock-progress');
        }
    });

</script>
